html {
    overflow-x: hidden;
}

body,
#__next {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#__next {
    margin: $spacing-lrg 0;
    max-width: 50rem;
}

body {
    -webkit-font-smoothing: antialiased;
}

section + section {
    margin-top: $spacing-xxl;
}

.react-json-view,
img,
input {
    width: 100%;
}

label {
    display: block;
    margin-top: $spacing-med;
    margin-bottom: $spacing-sml;
}

input {
    box-sizing: border-box;
    border: none;
    background: lighten($color-gray-lightest, 5%);
    padding: $spacing-xs;
    border-radius: $border-radius-lrg;
}

.react-json-view {
    max-width: 50rem;
    overflow: auto;
}

svg {
    width: $spacing-med;
}

/*
    This will hide the focus indicator if the element receives focus via the mouse,
    but it will still show up on keyboard focus.
*/
.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}
